<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <span class="navbar-brand" href="#">Navbar</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li *ngFor="let route of routes"><a *ngIf="route.isVisible"
                    routerLink="{{prefix}}{{route.path}}">{{route.title}}</a>
            </li>
        </ul>
        <span>hello {{username}}</span>
    </div>
</nav>